<html>

<head>
  <meta charset='utf-8' />
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
    <title>App</title>
</head>

<body>
  <div id="app">
    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
      <div class='container-fluid'>
        <div class='row align-items-center'>
          <div class='col-auto'>
            <label for='inputApiKey' class='col-form-label form-text'>DocFinity
              API Key:</label>
          </div>
          <div class='col-auto' style="width:500px;">
            <input type='text' name="apiKey" id='inputApiKey' class='form-control' placeholder="DocFinity API-KEY" />
          </div>
          <div class='col-auto'>
            <label for='inputEnvironment' class='col-form-label form-text'>Environment:</label>
          </div>
          <div class='col-auto'>
            <select class="form-select" name="environment" aria-label="Default select example">
              <option value="test" selected>TEST - https://uw.cloudtest.docfinity.com</option>
              <option value="prod">PROD - https://uw.cloud.docfinity.com</option>
            </select>
          </div>
          <div class='col-auto'>
            <button class='btn btn-outline-success' @click="compare">Compare</button>
          </div>
        </div>
      </div>
    </nav>

    <main class='container'>
      <div class='bg-light p-5 rounded' style="margin-top:50px;">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" v-for="datasource in datasources"
                  @click="selectDatasource(datasource)" :key="datasource.local.name">
                  {{datasource.local.name}}
                </a>
              </div>
            </div>
            <div class="col-9">
              <pre v-if="!selectedDatasource?.diff">
{{selectedDatasource?.local?.sql}}
              </pre>
              <pre id="codeElement" v-show="selectedDatasource?.diff">
              </pre>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8'
    crossorigin='anonymous'></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
  <script src="index.js"></script>
</body>

</html>